@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Google Fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Piazzolla:opsz,wght@8..30,200;8..30,400;8..30,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  font-family: 'Open Sans','Sans-serif';
}
main {
  min-height: 83vmin;
  padding-bottom: 69px;
  width: 1200px;
  margin: auto;
}

.slick-next:before,
.slick-prev:before {
  color: #37BE91!important;
  font-size: 2rem!important;
}

.slick-dots li button:before{
  color: #37BE91!important;
}
.cart-wala{
  position: relative;
  bottom: 9px;
}
/* .cart-wala::after{
  content:"";

} */
.totalItems{
  position: relative;
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 12px;
  left: 15px;
  font-size: 10px;
}
.totalItems span{
  position: relative;
  top: -8.1px;
  left: 3px;
  color: white;
  font-size: 1rem;
}
/* .sectionTitle::after{
  padding: 20px;
  content: " ";
  display: block;
  background-image: url('../public/leaf-removebg-preview.png') ;
  /* rotate:125deg ; */
  /* background-size: 100%; 
  position: relative; 
  right: 10px;
  width: 130px;
  height: 130px;
  border: 2px solid white; */
/* }  */
/* .sectionTitle::before{
  padding: 20px;
  content: " ";
  display: block;
  background-image: url('../public/leaf-removebg-preview.png') ;
  /* rotate:125deg ; */
  /* background-size: 100%; 
  position: relative; 
  right: 10px;
  width: 130px;
  height: 130px;
  border: 2px solid white; */
/* }  */